Repository alice-platform/ALICE, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, @scope/api, @scope/engine, @scope/module, @scope/plugin, @scope/server, @scope/build, documentation, chore

remove pip updates
  .github/dependabot.yml
Labels: documentation, chore

Add renovate.json
  renovate.json
Labels: documentation

Delete dependabot.yml
  .github/dependabot.yml
Labels: documentation, chore

docs: Add comprehensive KDoc documentation for core API interfaces
  api/src/main/kotlin/io/alice/platform/api/functions.kt
  api/src/main/kotlin/io/alice/platform/api/objects/collections.kt
  api/src/main/kotlin/io/alice/platform/api/objects/provider.kt
Labels: @scope/api, documentation

docs: Add comprehensive KDoc documentation for platform core interfaces
  api/src/main/kotlin/io/alice/platform/api/alice.kt
  api/src/main/kotlin/io/alice/platform/api/config/config.kt
  api/src/main/kotlin/io/alice/platform/api/event/event.kt
  api/src/main/kotlin/io/alice/platform/api/modules/modules.kt
Labels: @scope/api, documentation

.github/labeler.yml:

github_actions: ./github/workflows/**
"@scope/api": api/src/**
"@scope/engine": engine/src/**
"@scope/module": module/src/**
"@scope/plugin": plugin/src/**
"@scope/server": server/src/**
"@scope/build":
  - "**/build.gradle.kts"
  - build.gradle.kts
  - settings.gradle.kts
  - "buildSrc/**"
  - "gradle/**"
documentation:
  - "**/*.md"
  - "*.md"
  - "docs/**"
  - "!.github/**.md"
chore:
  - ".github/*.yml"
